.thunderbolt {
  background-color: #131218;
  color: white;
  padding: 1rem;
  padding-top: 3rem;
}

@include medium {
  .thunderbolt {
    padding: 2rem;
  }
}

@include large {
  .thunderbolt {
    padding-top: 5rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.thunderbolt__title {
  font-size: 2rem;
  font-family: "SF Pro Semi-bold", sans-serif;
  padding-bottom: 0.5rem;
}

@include medium {
  .thunderbolt__title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

.thunderbolt__slogan {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
@include medium {
  .thunderbolt__slogan {
    font-size: 2rem;
  }
}

.thunderbolt__description {
  padding-top: 1rem;
  text-align: justify;
}

@include large {
  .thunderbolt__description {
    font-size: 1.4vw;
    font-family: "SF Pro Light", sans-serif;
  }
}
