.screenaudio {
  background-color: #131218;
  color: white;
  padding: 1rem;
  padding-top: 3rem;
  @include medium {
    padding: 2rem;
  }
  @include large {
    padding-top: 5rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.screenaudio__title {
  font-size: 2rem;
  font-family: "SF Pro Semi-bold", sans-serif;
  padding-bottom: 0.5rem;
  @include medium {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

.screenaudio__slogan {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  @include medium {
    font-size: 2rem;
  }
}

.screenaudio__description {
  padding-top: 1rem;
  text-align: justify;
  @include large {
    font-size: 1.4vw;
    font-family: "SF Pro Light", sans-serif;
  }
}

@include medium {
  .sound {
    padding-top: 2rem;
    display: flex;
    align-items: center;
  }
  .sound__description {
    text-align: justify;
    margin-right: 2rem;
  }
}
