.touchbar {
  background-color: #131218;
  color: white;
  padding: 1rem;
  padding-top: 3rem;
  @include medium {
    padding: 2rem;
  }
  @include large {
    padding-top: 5rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.touchbar__title {
  font-size: 2rem;
  font-family: "SF Pro Semi-bold", sans-serif;
  padding-bottom: 0.5rem;
  @include medium {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

.touchbar__slogan {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  @include medium {
    font-size: 2rem;
  }
}

.touchbar__illustration1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.touchbar__illustration2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.touchbar__subtitle {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "SF Pro Semi-bold", sans-serif;
  @include large {
    padding-top: 1rem;
    font-size: 1.8vw;
  }
}

.touchbar__subslogan {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  @include large {
    padding-bottom: 1rem;
    font-size: 1.5vw;
  }
}

.touchbar__description {
  padding-top: 1rem;
  text-align: justify;
  @include large {
    font-size: 1.4vw;
    font-family: "SF Pro Light", sans-serif;
  }
}

.touchid {
  display: flex;
  flex-wrap: wrap;
  @include medium {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
@include medium {
  .touchid__illustration {
    width: 25%;
  }
  .touchid__description {
    width: 70%;
  }
}
