.presentation {
  background-color: #131218;
  color: white;
  padding-top: 3rem;
  text-align: center;
}
.presentation__illustration {
  width: 100%;
}

@include medium {
  .presentation__illustration {
    width: 70%;
  }
}
.presentation__title {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 0.4rem;
}

.presentation__title:first-of-type {
  margin-top: 0.5rem;
}

.presentation__title:last-of-type {
  margin-bottom: 0.5rem;
}

@include medium {
  .presentation__title {
    font-size: 3rem;
  }
}
.presentation__list {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

.presentation__item {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin: 0.4rem 1rem;
  padding: 1rem;
}

@include medium {
  .presentation__list {
    flex-direction: row;
  }
  .presentation__item {
    margin: 0.4rem 0.4rem;
    padding: 1rem;
  }
  .presentation__item:first-of-type {
    margin-left: 1rem;
  }
  .presentation__item:last-of-type {
    margin-right: 1rem;
  }
}

@include large {
  .presentation__item {
    margin: 0.4rem 0.4rem;
    padding: 1rem;
  }
  .presentation__item:first-of-type {
    margin-left: 12rem;
  }
  .presentation__item:last-of-type {
    margin-right: 12rem;
  }
}
